*{
    box-sizing: border-box;
}

@font-face {
    font-family: 'FRESH FRUIT PERSONAL USE';
    src: url('fonts/FRESHFRUITPERSONALUSE-Regular.woff2') format('woff2'),
        url('fonts/FRESHFRUITPERSONALUSE-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
label:not([for="book-read"]){
    display: block;
}
img{
    border-radius: 100%;
}
html{
    height: 100%;
    --background-color:rgb(238, 236, 236);
    --primary-color:rgb(27, 115, 156);
    --hover-color: rgb(5, 87, 126);
    --font: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body{
    height: 100%;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: minmax(200px,1fr) 5fr;
    grid-template-rows: 1fr 10fr;
}


.header{
    grid-row: 1;
    grid-column: 2/-1;
    background-color: var(--background-color);
    display: flex;
    padding-bottom: 50px;
    >h1{
        margin: auto 0;
        margin-left: auto;
        align-self: center;
        font-family:'FRESH FRUIT PERSONAL USE' ;
        font-size: 4.2rem;
        color: var(--hover-color);
    }
    >#sign-up{
        margin-left: auto;
        margin-right: 20px;
        align-self: center;
        padding: 10px 20px;
        background-color: var(--primary-color);
        font-weight: bold;
        color: white;
        border: none;
        border-radius: 20px;
    }
    >#sign-up:hover{
        background-color: rgb(5, 87, 126);
    }
}

.sidebar{
    grid-row: 1/-1;
    background-color: rgb(27, 115, 156);
    padding: 5% 5%;
    > .container{
        position: sticky;
        top: 20px;
        display: flex;
        width: 100%;
        flex-direction: column;
        gap: 60px;
    }
    & p{
        color: rgb(255, 255, 255);
        font-size: 1.3rem;
        font-family: var(--font);
        padding: 0% 6%;
        font-weight: bold;
    }
}
.main-content{
    padding: 30px;
    background-color: var(--background-color);
    display: grid;
    gap: 100px;
    grid-template-columns: repeat(auto-fit,300px);
}

form{
    display: flex;
    flex-direction: column;
    gap: 20px;
    color: white;
    font-family: var(--font);
    font-size: 1.2rem;
    padding: 0% 6%;
}   

input:not([type="checkbox"]){
    max-width: 95%;
    height: 30px;
    appearance: none;
    border: none;
    border-radius: 5px;
    padding-left: 10px;
}

input:focus{
    outline: none;
    border: 2px solid black;
}

#submit-btn{
    border: none;
    border-radius: 10px;
    color: white;
    background-color: rgb(31, 146, 199);
    padding: 10px 30px;
    &:hover{
        background-color: var(--hover-color);
    }
}

.book{
    height: 400px;
    width: 300px;
    border: 3px solid black;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    & button:first-of-type{
        margin-top: auto;
        background-color: rgb(29, 157, 196);
    }
    & button:last-of-type{
        border-bottom-left-radius: 6px;
        border-bottom-right-radius: 6px;
    }
    & button{
        border: none;
        background-color: rgb(5, 64, 139);
        padding: 5px 0;
        color: white;
        font-family: var(--font);
        font-size: 1.2rem;
    }
}

.book>p{
    margin: 30px 10px;
    color: var(--hover-color);
    font-family: var(--font);
    font-size: 1.3rem;
    border-bottom: 1px solid black;
}
h2{
    text-align: center;
    color: rgb(2, 48, 85);
    font-size: 1.9rem;
    font-family: var(--font);
}






